= form_for [@student, @grade] do |f|
  = f.hidden_field :title, value: @eval.title
  %h3 Categories
  #scores
  = f.fields_for @score do |score|
    -(@eval.categories)
    = render 'score_fields', :f => score
