.nested-fields
  .field
    %p=category.title
    = f.label :score, "#{category.max_score}"
    = f.number_field :score, min: 0, max:category.max_score, value: category.max_score
  .comments
    = f.collection_check_boxes(:comments, category.comments, :id, :description)
