%h1 Create a new Roster!
-if @roster.errors.any?
  = render 'roster_errors'
=form_for [@course, @roster] do |f|
  .user-input
    = f.label :section_name, "Section Name:"
    = f.text_field :section_name
  / .user-input
  /   =f.label :meet_time, "Course Description:"
  /   =f.select :meet_time
  /   =options_for_select days_of_week
  .submit-btn
    =f.button

