.new
  %h1= @roster.section_name
  %ul
    %li
      %strong Meet Time:
      =@roster.meet_day
      at
      =@roster.meet_time
    %li
      %strong Location:
      =@roster.location

  = link_to "Export Roster", export_roster_path
