.cards
  .card
    #card-image
      =image_tag "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"
    .card-header
      = first_last(assistant)
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card-stats
      %ul
        %li 98
        %span Items
        %li 298
        %span Things
        %li 923
        %span Objects