// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #E7ECED;
}
.centered-navigation {
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: #fff;
  $centered-navigation-color: #fff;
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  background-color: $centered-navigation-background;
  border-bottom: 1px solid darken($centered-navigation-background, 6);
  font-family: $serif;
  height: 5em;
  width: 100%;
  z-index: 9999;


// Mobile view

  .mobile-logo {
    display: inline;
    float: left;
    max-height: $centered-navigation-height;
    padding-left: $centered-navigation-padding;

    img {
      max-height: $centered-navigation-height;
      padding: .8em 0;
    }

    @include media($horizontal-bar-mode) {
      display: none;
    }
  }

  .centered-navigation-menu-button {
    color: $centered-navigation-color;
    display: block;
    float: right;
    font-weight: 700;
    line-height: $centered-navigation-height;
    margin: 0;
    padding-right: $centered-navigation-submenu-padding;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:hover {
      color: $centered-navigation-color-hover;
    }
  }


// Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d;
// stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }


// The nav items

  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $centered-navigation-item-nudge;
    }
  }

  ul li {
    background: $centered-navigation-background;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    padding-right: $centered-navigation-submenu-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $centered-navigation-height;

      a {
        padding-right: $centered-navigation-item-padding;
      }
    }

    a {
      color: $centered-navigation-color;
      display: inline-block;


      &:hover {
        color: $centered-navigation-color-hover;
      }
    }
  }

  li.logo {
    display: none;
    line-height: 0;

    @include media($large-screen) {
      display: inline;
    }
  }

  .logo img {
    margin-bottom: -$centered-navigation-logo-height / 3;
    margin-top: 15px;
    max-height: 3em;
  }


// Sub menus

  li.more.nav-link {
    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -.4em auto auto);
      color: $centered-navigation-color;
      content: '\25BE';
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        margin-right: $centered-navigation-submenu-padding;
      }

      &:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: $centered-navigation-submenu-padding / 2;
      }
    }

    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: $centered-navigation-submenu-padding;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$centered-navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $centered-navigation-submenu-width - .2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $centered-navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        background-color: darken($centered-navigation-background, 3);
        display: inline-block;
        text-align: right;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $centered-navigation-background;
          padding-left: $centered-navigation-submenu-padding;
          text-align: left;
          width: $centered-navigation-submenu-width;
        }
      }
    }
  }
}

.new {
  @include outer-container;
  text-align: left;
  margin-bottom: 3em;
}

#sidenav {
    width: 60px;
    height: 100%;
    background-color: #28384B;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    -webkit-transition-property: -webkit-transform, width;
    -moz-transition-property: -moz-transform, width;
    -ms-transition-property: -ms-transform, width;
    -o-transition-property: -o-transform, width;
    transition-property: transform, width;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

@media only screen and (max-width: 767px) {
  #sidenav {
  margin-left: -180px;
  top: 56px;
  width: 180px;
  overflow: visible;
}
}#sidenav ul {
  list-style: none;
}
#sidenav ul.bottom {
  position: absolute;
  width: 150px;
  bottom: 0;
  margin-bottom: 0;
}
@media only screen and (min-height: 320) {
  #sidenav ul.bottom {
  display: none;
  }
}
#sidenav li {
  clear: both;
  overflow-x: hidden;
  padding: 0 10px;
  margin-bottom: 14px;
  position: relative;
}
#sidenav li a {
  margin-top: 12px;
  display: block;
  color: #c1c1c1;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
#sidenav li a.is-active {
  color: #fff;
}
#sidenav li a:hover {
  color: silver;
}
#sidenav li a i {
  font-size: 24px;
  margin-left: 6px;
}
#sidenav li a span {
  position: absolute;
  top: 17px;
  left: 57px;
  font-weight: bold;
  font-size: 16px;
}
@media screen and (min-width: 430px) {
  #sidenav li a span {
  display: none;
}
}#sidenav li.nav-catalog i, #sidenav li.nav-forum i {
  margin-left: 7px;
}
#sidenav li.nav-docs i {
  margin-left: 8px;
  font-size: 28px;
}
#sidenav:hover {
  width: 170px;
}
#sidenav:hover span {
  display: inline;
}
#sidenav .logo-item-glyph-spin {
  background: transparent url(//d3l8wp33uu8nxs.cloudfront.net/assets/logos/logo-glyph-36-red-sprite-a580e74e4e87980e95a63836856eaaf5.png) no-repeat;
  margin-top: 10px;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: hidden;
}
#sidenav .logo-item-glyph-spin .spin {
  position: relative;
  overflow: hidden;
}
#sidenav .logo-item-glyph-spin .spin b {
  background: transparent url(//d3l8wp33uu8nxs.cloudfront.net/assets/logos/logo-glyph-36-red-sprite-a580e74e4e87980e95a63836856eaaf5.png) no-repeat;
  background-position: -59px 0px;
  width: 36px;
  height: 36px;
  display: block;
  overflow: hidden;
}

.mts, .mvs, .mas {
  margin-top: 10px !important;
}

.vertical-tabs-container { // small screens: accordion
  $tab-border-color: $base-border-color;
  $tab-border: 1px solid $tab-border-color;
  $tab-border-radius: $base-border-radius;
  $tab-content-background: lighten($tab-border-color, 10);
  $tab-active-color: $tab-content-background;
  $tab-inactive-color: white;
  $vertical-tabs-height: em(300);
  $vertical-tab-mode: $medium-screen;

  @include clearfix;
  border-radius: $tab-border-radius;
  border: $tab-border;
  margin-bottom: $base-line-height;
  overflow: hidden;

  .vertical-tabs {
    display: none;

    @include media($vertical-tab-mode) {
      background-color: $tab-inactive-color;
      display: inline;
      float: left;
      height: $vertical-tabs-height;
      width: 20%;
    }
  }

  .vertical-tab {
    @include media($vertical-tab-mode) {
      border-bottom: $tab-border;
      display: block;
      font-weight: bold;
      margin-right: -1px;
      padding: $base-line-height/2 $gutter/2;

      &.is-active {
        background-color: $tab-content-background;
        margin-right: -1px;
      }
    }
  }

  .vertical-tab:focus {
    outline: none;
  }

  .vertical-tab-content-container {
    display: block;
    margin: 0 auto;

    & a:focus {
      outline: none;
    }

    @include media($vertical-tab-mode) {
      @include inline-block;
      @include size(80% $vertical-tabs-height);
      background-color: $tab-content-background;
    }
  }

  .vertical-tab-content {
    background-color: $tab-content-background;
    padding: $base-line-height $gutter;

    @include media($vertical-tab-mode) {
      border: none;
      display: none;
    }
  }

  .vertical-tab-accordion-heading {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: $base-line-height/2 $gutter/2;

    &:hover {
      color: $base-accent-color;
    }

    &:first-child {
      border-top: none;
    }

    &.is-active {
      background: $tab-active-color;
      border-bottom: none;
    }

    @include media($vertical-tab-mode) {
      display: none;
    }
  }
}
.avatar-frame{border: 3px solid #2DD959;}
.avatar-frame,.avatar-frame img{
  width: 120px;
  height: 120px;
  -webkit-border-radius: 60px; /* Saf3+, Chrome */
  border-radius: 60px; /* Opera 10.5, IE 9 */
  -moz-box-shadow: 0 0 10px #65FF6E;
  -webkit-box-shadow: 0 0 10px #65FF6E;
  box-shadow: 0px 0px 10px #65FF6E;
}

.current-user-avatar-avatar,.current-user-avatar-avatar img{
  -webkit-border-radius: 20px; /* Saf3+, Chrome */
  border-radius: 20px; /* Opera 10.5, IE 9 */
}

.user-avatar {
  padding-top: 9px;
  padding-bottom: 5px;
  background-color: #2DD959;
}

.current-user-avatar-nav {
  max-width: 39px;
  max-height: 39px;
}

.current-user-avatar-name {
  color: white;
  font-size: 1.5em;
  position: absolute;
  top: 3px;
  left: 2px;
  font-weight: bold;
  font: sans-serif;
}

.footer {
  $footer-background: desaturate(darken($base-accent-color, 20), 30);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, .6);
  $footer-disclaimer-color: transparentize($footer-color, .6);

  background: $footer-background;
  padding: $base-line-height*2 $gutter;
  width: 100%;

  .footer-logo {
    text-align: center;
    margin-bottom: 2em;

    img {
      height: 3em;
    }
  }

  .footer-links {
    @include clearfix;
    margin-bottom: $base-line-height;

    @include media($medium-screen) {
      @include shift(3);
    }
  }

  ul {
    margin-bottom: $base-line-height*2;

    @include media($medium-screen) {
      @include span-columns(3);
      @include omega(3n);
      @include clearfix;
    }
  }

  li {
    text-align: center;

    @include media($medium-screen) {
      text-align: left;
    }
  }

  li a {
    color: $footer-link-color;

    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: .4em;
  }

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, .3);
    margin: 0 auto $base-line-height;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: .9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}